@import "./global.scss";

.app{
    height: 100vh;

    .sections{
        width: 100%;
        height: calc(100vh - 67px);
        background-color: #000000;
        position: relative;
        top: 67px;
        scroll-behavior: smooth;

        > *{
            width: 100vw;
            height: calc(100vh - 67px);
            scroll-snap-align: start;
        }
    }
}