:root {
    --first-color: #000000;
    --second-color: #FFFFFF;
    --third-color: #0B24FB;
    --fourth-color: #FF8787;
}

$mainColor: #000000;

$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}